{{- range $key, $value := .Values.localSecrets }}
apiVersion: v1
kind: Secret
metadata:
  namespace: {{ $.Release.Namespace }}
  name: {{ $key }}
type: Opaque
stringData:
  {{- toYaml $value | nindent 2}}
---
{{- end }}